<!DOCTYPE html>
<html>
  <head>
    <title>View your local Microsoft Office files (doc, docx, xls, xlsx, ppt, pptx an so on...) online!</title>
    <meta name="description" content="Office file online viewer">
    <link id="favicon" rel="icon" href="https://s3.amazonaws.com/hyperweb-editor-assets/us-east-1%3Ad0d03a8e-22bf-451d-ba15-f08d8f4e99ba%2Fuse-url.svg?1459275792439" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        View your local Microsoft Office files online!
      </h1>
    </header>

    <main>
      <p>
        <input type="file" view-type="online" target="viewC"/> 
        <a class="button" id="viewC" href="#">&nbsp;View&nbsp;</a>
      </p>
      
    </main>

    <p class="note">
      *Supported formats: <i>doc, docx, xls, xlsx, ppt, pptx, dot, dotx, docm, dotm, xlt, xla, xltx, xlsm, xltm, xlam, xlsb, pot, pps, ppa, potx, ppsx, ppam, pptm, potm, ppsm</i>
    </p>
    
    <footer>
      <a href="https://glitch.com">
        Powered by glitch
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
